@{
    ViewData["Title"] = "Product Page";
}

<section class="mt-0">
    <div class="bg-primary mb-4">
        <div class="container py-4">
            <h3 class="text-white mt-2">PRODUCTOS</h3>
            <nav class="d-flex mb-2">
                <h6 class="mb-0">
                    <a href="" class="text-white-50">Home</a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a href="" class="text-white-50">Product</a>
                </h6>
            </nav>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span>Show filter</span>
                </button>
                <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-dark bg-light collapsed" type="button">
                                CATEGORIAS
                            </button>
                        </h2>
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                <li><a href="#" class="text-dark">Electronics </a></li>
                                <li><a href="#" class="text-dark">Home items </a></li>
                                <li><a href="#" class="text-dark">Books, Magazines </a></li>
                                <li><a href="#" class="text-dark">Men's clothing </a></li>
                                <li><a href="#" class="text-dark">Interiors items </a></li>
                                <li><a href="#" class="text-dark">Underwears </a></li>
                                <li><a href="#" class="text-dark">Shoes for men </a></li>
                                <li><a href="#" class="text-dark">Accessories </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-9">
                <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                    <strong class="d-block py-2">32 Items found </strong>
                    <div class="ms-auto">
                        <select class="form-select d-inline-block w-auto border pt-1">
                            <option value="0">Best match</option>
                            <option value="1">Recommended</option>
                            <option value="2">High rated</option>
                            <option value="3">Randomly</option>
                        </select>
                    </div>
                </header>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://aimebsas.com/wp-content/uploads/2023/12/NURIA-5-scaled-e1701453841252-uai-480x720.jpeg" class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex flex-row">
                                    <h5 class="mb-1 me-1">$34,50</h5>
                                    <span class="text-danger"><s>$49.99</s></span>
                                </div>
                                <p class="card-text">T-shirts with multiple colors, for men and lady</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://aimebsas.com/wp-content/uploads/2023/12/NURIA-5-scaled-e1701453841252-uai-480x720.jpeg" class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">Winter Jacket for Men and Women, All sizes</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://aimebsas.com/wp-content/uploads/2023/12/NURIA-5-scaled-e1701453841252-uai-480x720.jpeg" class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">T-shirts with multiple colors, for men and lady</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://aimebsas.com/wp-content/uploads/2023/12/NURIA-5-scaled-e1701453841252-uai-480x720.jpeg" class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">Winter Jacket for Men and Women, All sizes</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://aimebsas.com/wp-content/uploads/2023/12/NURIA-5-scaled-e1701453841252-uai-480x720.jpeg" class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">Winter Jacket for Men and Women, All sizes</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://aimebsas.com/wp-content/uploads/2023/12/NURIA-5-scaled-e1701453841252-uai-480x720.jpeg" class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$79.99</h5>
                                <p class="card-text">T-shirts with multiple colors, for men and lady</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://aimebsas.com/wp-content/uploads/2023/12/NURIA-5-scaled-e1701453841252-uai-480x720.jpeg" class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">Winter Jacket for Men and Women, All sizes</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://aimebsas.com/wp-content/uploads/2023/12/NURIA-5-scaled-e1701453841252-uai-480x720.jpeg" class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">T-shirts with multiple colors, for men and lady</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://aimebsas.com/wp-content/uploads/2023/12/NURIA-5-scaled-e1701453841252-uai-480x720.jpeg" class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$43.50</h5>
                                <p class="card-text">Summer New Men's Denim Jeans Shorts</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>