@{
    ViewData["Title"] = "ProductDetail Page";
}

<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center detailImage">
                     <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="" />
                </div>
                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        Nombre <br />                       
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <span class="text-muted"><i class="bi bi-bag-check"></i></span>
                        <span class="text-success ms-2">In stock</span>
                    </div>
                    <div class="mb-3 detailPrecio">
                        @* precio *@
                        </div>                 
                    <p class="detailDetalle">
                        @* detalle *@
                    </p>

                    <dl class="row">
                        <dt class="col-3">Categoria:</dt>
                        <dd class="col-9 detailCategoria">categoria nombre</dd>

                        <dt class="col-3">ID Producto:</dt>
                        <dd class="col-9 detailIdProducto">id_producto</dd>

                    </dl>


                    <hr />

                    <div class="row mb-4">
                        <!-- col.// -->
                        <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <div class="input-group mb-3" style="width: 170px;">
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <input type="text" class="form-control text-center border border-secondary" id="quantityInput" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 bi bi-bag-plus-fill"></i> Add to cart </a>
                    <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 bi bi-heart-fill"></i> Save </a>
                </div>
            </main>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/js/ProductDetail.js" asp-append-version="true"></script>
}